
.FrontPage {
  background: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

.Banner img {
  width: 100%;
}

h1 {
  font-size: 32px;
  margin: 0;
}

section {
  padding: 40px 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}




footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}